h3{
	font-family: 'Acme', sans-serif;
}
/*Navbar CSS Start*/
.navbar{
	background:#343a40;
}
.navbar .navbar-brand, .logo{
	width:25%;
	color:black;
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}
.navbar .navbar-nav{
	padding-left:1rem;
}
.navbar .nav-link{
	color:black!important;
	padding:0.5rem;
	font-weight:600;
}
.navbar .nav-link:hover{
	color:white!important;
	background:black;
	padding:0.5rem;
	border-radius:0.25rem;
	font-weight:600;
}
.navbar-toggler {
	background-color: transparent;
    border: 2px solid black;
}
.dropdown-menu li{
	position: relative;
}
.nav-item .submenu{ 
	display: none;
	position: absolute;
	left:100%; top:-7px;
}
.nav-item .submenu-left{ 
	right:100%; left:auto;
}
.dropdown-menu > li:hover > .submenu{
	display: block;
}
.btn{
	border:2px solid black;
}
.btn:hover{
	background:black;
	color:white!important;
	border:2px solid black;
}
.text-dark {
    color: black;
    font-weight: 600;
}
/*Navbar CSS Ends*/
/*Section 1 CSS Start*/
.section1{
	background-image: url(https://cdn.pixabay.com/photo/2020/04/16/13/04/book-5050518_960_720.jpg);
    padding: 2rem 5rem;
    background-size: cover;
    width: 100%;
	text-align:center;
	margin-top: 4rem;
}
.section1-text{
	color:white;
	width:70%;
	margin:0 auto;
}
.doubt-btn{
	background:white;
	color:black;
	border:2px solid black;
	border-radius:5px;
	font-weight:600;
}
.doubt-btn:hover{
	background:black;
	color:white;
	border:2px solid white;
	border-radius:5px;
	font-weight:600;
}
.form-control{
	width:72%;
	margin-left: 6rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
	float:left;
}
.btn-search{
	width: 10%;
    margin-top: 4rem;
    margin-left: -4rem;
    border: 0px;
	height:2.4rem;
	border-radius:0px 5px 5px 0px;
}
.secion1-part{
	border:2px solid white;
	border-radius:85px 85px;
	margin-top:5rem;
	padding:1.5rem;
	margin-right:2rem;
}
.secion1-part i{
	font-size:3rem;
}
.secion1-part:hover{
	border:2px solid white;
	border-radius:85px 85px;
	margin-top:5rem;
	padding:1.5rem;
	margin-right:2rem;
	background:white!important;
	color:black!important;
}
/*Section 1 CSS End*/
/*Section 2 CSS Starts*/
.section2{
	text-align:center;
	padding-top:5rem;
	padding-bottom:5rem;
}
.section2-part{
	box-shadow: 3px 3px 8px 1px #00000073;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.section2 p{
	padding: 40px 0px;
}
.section2 img{
	width:150px;
	height:150px;
}
/*Section 2 CSS Ends*/
/*Section 3 CSS Starts*/
.section3 p, .section5 p{
	color:grey;
}
.section3 i, .section5 i{
	font-size:3rem;
	margin:0 auto;
}
/*Section 3 CSS Ends*/
/*Section 4,5,6,7,12 CSS Starts*/
.section4, .section5, .section6, .section7, .section12{
	text-align:center;
}
.section4 h3, .section5 h3{
	text-decoration:underline;
	margin-bottom:2.5rem;
}
.section4-part{
	padding:1rem;
}
.section4 img{
	width:100%;
	height:auto;
}
.section4 p{
	font-size:1.3rem;
}
/*Section 4 CSS Ends*/
/*Section 8 CSS Starts*/
.section8, .section9{
	text-align:center;
}
.section8 h3{
	border-bottom:2px solid white;
}
.section8 h3:hover{
	border-bottom:2px solid black;
	width:35%;
	margin:0 auto;
	transition:width 2s, height 4s;;
}
.section8 img{
	width:100%;
	height:auto;
}
/*Section 8 CSS Ends*/
/*Section 9,10 CSS Starts*/
.section9 img, .section10 img{
	height:150px;
	width:100%;
	box-shadow:3px 3px 5px 3px #80808061;
	border-radius:25px;
}
.section9 img:hover, .section10 img:hover{
	width:110%;
	height:160px;
	transition:width 1s, height 1s;
}
.section9 p, .section10 p{
	font-size: 1.1rem;
    margin-top: 1rem;
}
/*Section 9 CSS Ends*/
/*Section 11 CSS Ends*/
.section10 i{
	font-size: 2rem;
    border: 1px solid gold;
    padding: 2rem;
    border-radius: 84px;
    margin: 0rem 2rem 0rem 4rem;
}
.user-feedback{
	padding:1rem;
	border:1px solid grey;
	border-radius:0px 50px 0px 50px;
}
.user-feedback h4{
	color:darkblue;
}
.user-feedback p{
	color:grey;
}
/*Section 11 CSS Ends*/
/*footer css start*/
.footer-part{
	background:#F6F7F8;
	padding:20px 60px;	
}
.footer{
	padding:15px 10px;
    font-family: "Sofia Pro",sans-serif;
}
.footer h4{
	color: #dc3545;
    margin-left: 3rem;
}
.footer-icons i{
	margin:5px;
	color:black;
	border:1px solid #F6F7F8;
	border-radius:50%;
	padding:10px;
}
.footer-icons i:hover{
	color:#f8694a;
	border:1px solid  #f8694a;
	border-radius:50%;
	padding:10px;
}
.footer-2 li{
		padding:0.2rem;
}
.footer-2{
	list-style-type:none;
}
.footer-2 li a{
	padding:7px;
	text-decoration:none;
	color:black;
	font-size:16px;
}
.footer-2 li a:hover{
	color:#f8694a;
}
.footer-contact{
	list-style-type:none;
}
.footer-contact li{
	padding:10px 7px;
	text-decoration:none;
	color:black;
	font-size:16px;
}
.footer-contact li:hover{
	color:#f8694a;
}
/*footer css Ends*/





@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .submenu{
    visibility: hidden;
  }
  .btn-search{
	  width: 10%;
    margin-top: 4rem;
    margin-left: -35px;
    border: 0px;
	height:2.4rem;
	border-radius:0px 5px 5px 0px;
  }
}